# Sentiment Analysis of EV in Indonesia

## Import Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Understanding

In [2]:
df = pd.read_csv('./datasets/mobil_listrik.csv')
df.head()

,id_komentar,nama_akun,tanggal,text_cleaning,sentimen
0,Ugzbll5eyrIy3-gdUUJ4AaABAg,Sqn Ldr,2023-08-06 12:54:49+00:00,saran sih bikin harga ionic sama kayak brio ...,positif
1,UgzEDUiV3OTrV943p8p4AaABAg,lushen ace,2023-08-04 12:16:23+00:00,problem subsidi kualitas diturunin harga dinai...,negatif
2,UgwqJqu6JMF4EH2CsVV4AaABAg,Fatih Al-Ayyubi,2023-08-04 10:17:57+00:00,baik kualitas kembang dulu baik kualitas motor...,positif
3,UgyYicCMR1rKwuOj2Y14AaABAg,yp office,2023-08-04 08:29:54+00:00,model jelek kwalitas buruk harga mahal croot,negatif
4,UgxKAcLuAwZOQK6es-x4AaABAg,Lembur Kuring,2023-08-04 07:55:37+00:00,syarat ngaco woy anak muda blom punya ruma...,negatif

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1517 entries, 0 to 1516
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_komentar    1517 non-null   object
 1   nama_akun      1516 non-null   object
 2   tanggal        1517 non-null   object
 3   text_cleaning  1515 non-null   object
 4   sentimen       1517 non-null   object
dtypes: object(5)
memory usage: 59.4+ KB

In [5]:
df = df.dropna()
df.isnull().sum()

id_komentar      0
nama_akun        0
tanggal          0
text_cleaning    0
sentimen         0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df.describe()

,id_komentar,nama_akun,tanggal,text_cleaning,sentimen
count,1514,1514,1514,1514,1514
unique,1514,1513,1511,1513,3
top,Ugzbll5eyrIy3-gdUUJ4AaABAg,Albert,2023-06-06 14:02:09+00:00,mahal,negatif
freq,1,2,2,2,868

## Text Preprocessing

In [8]:
df = df.drop(columns = ['id_komentar', 'nama_akun', 'tanggal'])
df.head()

                                       text_cleaning sentimen
0  saran sih bikin   harga ionic sama kayak brio ...  positif
1  problem subsidi kualitas diturunin harga dinai...  negatif
2  baik kualitas kembang dulu baik kualitas motor...  positif
3       model jelek kwalitas buruk harga mahal croot  negatif
4  syarat   ngaco woy anak muda   blom punya ruma...  negatif

In [9]:
df['text_cleaning'] = df['text_cleaning'].str.lower()
df.head()

                                       text_cleaning sentimen
0  saran sih bikin   harga ionic sama kayak brio ...  positif
1  problem subsidi kualitas diturunin harga dinai...  negatif
2  baik kualitas kembang dulu baik kualitas motor...  positif
3       model jelek kwalitas buruk harga mahal croot  negatif
4  syarat   ngaco woy anak muda   blom punya ruma...  negatif

In [ ]:
# normalization
norm = {
    ' alloh ': ' allah ',
    ' problem ': ' masalah ',
    ' cuan ': ' keuntungan ',
    ' kwalitas ': ' kualitas ',
    ' ngaco ': ' sembarangan ',
    ' batre ': ' baterai ',
    ' tehnologi ': ' teknologi ',
    ' mmg ': ' memang ',
    ' donk ': ' dong ',
    ' jd ': ' jadi ',
    ' jt ': ' juta ',
}